@font-face {
  font-family: "VPSQUNHH";
  src: url("./fonts/VPSQUNHH.TTF") format("truetype");
}

@font-face {
  font-family: "VPSQUNHT";
  src: url("./fonts/VPSQUNHT.TTF") format("truetype");
}

* {
  font-family: "VPSQUNHH", "VPSQUNHT", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100vh !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
